APP_NAME="JDS Reservasi"
APP_ENV=local

API_URL=

KEYCLOAK_AUTHSERVERURL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENTID=
KEYCLOAK_CLIENTSECRET=
KEYCLOAK_REDIRECTURI=
KEYCLOAK_ENCRYPTIONALGORITHM=
KEYCLOAK_ENCRYPTIONKEYPATH=
KEYCLOAK_ENCRYPTIONKEY=