@tailwind base;
@tailwind components;
@tailwind utilities;

.form-input {
  @apply w-full block rounded-r-md transition duration-150 ease-in-out leading-5 border border-gray-500 p-2;
}

.thead{
  @apply px-6 py-3 text-left text-xs font-semibold uppercase text-white tracking-wider;
}

.btn{
  @apply w-full text-base font-sans font-medium text-white flex items-center;
}

.btn:focus{
  @apply outline-none;
}

.btn i{
  @apply mr-2;
}

.pagination__btn{
  @apply flex items-center justify-center p-1 rounded text-white bg-green-700;
}

.pagination__btn:focus{
  @apply outline-none;
}

.pagination--active{
  @apply bg-gray-700 text-white font-medium rounded my-1 mx-2 px-2;
}

.pagination{
  @apply text-gray-700 font-medium my-1 mx-2 px-2;
}

.pagination--active:focus, .pagination:focus{
  @apply outline-none;
}

tr:nth-child(2n+2){
  @apply bg-gray-200;
}

/* Override design system style*/

.reservation__filter .jds-popover__content,
.asset__description .jds-popover__content,
.asset__sort .jds-popover__content,
.start__time .jds-popover__content,
.end__time .jds-popover__content,
.repeat__reservation .jds-popover__content {
  z-index: 25 !important;
}

.date__reservation .jds-popover__content,
.repeatation___end-date-daily .jds-popover__content,
.repeatation___end-date-weekly .jds-popover__content,
.repeatation__month .jds-popover__content,
.repeatation__end-date-monthly .jds-popover__content,
.repeatation__select-day .jds-popover__content,
.repeatation__select-week .jds-popover__content,
.repeatation__select-month .jds-popover__content,
.repeatation__select-date-day .jds-popover__content,
.repeatation__select-date-week .jds-popover__content,
.repeatation__select-date-month .jds-popover__content {
  z-index: 25 !important;
  background-color: white !important;
}

/* This code override style design system in BaseSelectDropdown Component */

/* Start */

.repeatation__select-day .jds-popover__content,
.repeatation__select-week .jds-popover__content,
.repeatation__select-month .jds-popover__content {
  position: fixed !important;
  width: 223px !important;
}

.repeatation__select-day .jds-popover__content .jds-select-content .jds-checkbox-group, 
.repeatation__select-week .jds-popover__content .jds-select-content .jds-checkbox-group,
.repeatation__select-month .jds-popover__content .jds-select-content .jds-checkbox-group {
  display: block !important;
  max-height: 200px !important;
  overflow-y: scroll !important;
  padding: 0px 16px 0px 16px !important;
}

/* End */

.start__time .jds-popover__content .jds-select__options .jds-options__option-list,
.end__time .jds-popover__content .jds-select__options .jds-options__option-list {
  max-height: 200px !important;
  overflow-y: scroll !important;
}

.reservation__description .jds-text-area__input-wrapper {
  @apply rounded-md border-2 border-gray-400 !important;
}

.jds-data-table__column-wrapper {
  text-align: left !important;
}

.jds-form-control-label  {
  @apply inline !important;
}
.jds-form-control-helper-text {
  @apply text-red-500 inline text-xs !important;
}

.asset__description .jds-text-area__input-wrapper {
  border: 1px solid gray !important;
  border-radius: 5px !important;
}
